# Pandas 47 - Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

# Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [3]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'],
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25