# Pandas 32 - Plotting dari suatu Pandas Data Frame

# Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [3]:
n_rows = 40
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df.head()

    A   B   C   D   E
0  13  13   6  11   8
1  19  19   6  13   8
2  18   5  18   5  11
3  16   1  17  14  15
4   6   1   2  17  10