In [2]:
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [3]:
# pesiapan data frame
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns = cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00    15     8
2000-01-01 01:00:00     7    18
2000-01-01 02:00:00    16    10
2000-01-01 03:00:00    15    18
2000-01-01 04:00:00    14    10
...                   ...   ...
2000-12-30 19:00:00    16    18
2000-12-30 20:00:00     4    10
2000-12-30 21:00:00    12     5
2000-12-30 22:00:00     1     8
2000-12-30 23:00:00    19    16

[8760 rows x 2 columns]