# Pandas 34 - Mapping pada Data Frame dengan applymap()

# Import modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [2]:
df = pd.DataFrame({'jenis_kelamin': ['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'],
                   'usia':[23, 21, 24, 22, 21],
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     perempuan    21   pagi