In [1]:
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [2]:
# membentuk data frame dari dictionary
pd.DataFrame({'col1' : [1, 2, 3, 4],
              'col2' : [5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
# membentuk data frame dari numpy array
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 5, 15, 18],
       [16, 11,  3],
       [ 4,  6, 15],
       [12, 15,  4],
       [ 6,  4, 17]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   5  15  18
1  16  11   3
2   4   6  15
3  12  15   4
4   6   4  17

In [5]:
# membentuk data frame dengan memanfaatkan pandas.util.testing
pd.util.testing.makeDataFrame().head()

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
ubYFJg42nO -0.891473 -0.145926  0.205586  1.213486
4WmxCyv5Od -0.210446  1.026764 -1.104690 -1.335643
aCGTtAPKoo  0.406867  1.519673 -1.141166  1.016961
5EWze215K8 -1.022515 -0.428179 -0.392925  1.150009
kx6vWEFYLG -0.680448 -1.139781  0.239776 -0.418832

In [6]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.139441  0.737331 -0.532935  0.733253
2000-01-04 -1.493317 -1.311334 -0.270894 -0.677086
2000-01-05 -2.212740  0.375874 -0.507510  0.129478
2000-01-06 -0.536385  1.393690  0.740053  0.382002
2000-01-07  0.067076 -2.074004  2.256837  0.875380

In [8]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
yFVbed4SKf  0.894382  1.433917       NaN       NaN
AnyedDPSbj  0.165763 -0.086054  0.375547 -0.506440
q3PlBUb5D3 -0.037985  0.940234  1.455484 -0.252249
rUhxMritG1 -0.227070 -1.377027       NaN       NaN
gpeI9Gwa6h -0.019394  0.879681 -0.529041 -0.519365