# Pandas 27 - Mengenal fungsi agregasi first() dan last()

# Import Modules

In [1]:
import pandas as pd 

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [2]:
d = {'dokter' : ['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'],
     'pasien' : ['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa