# Pandas 28 - Mengenal explode dan implode list pada Data Frame

# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [2]:
d = {'Team':['DC', 'Marvel'],
     'Heroes':[['Batman', 'Superman', 'Wonder Woman', 'Aquaman', 'Green Lantern', 'Shazam'],
               ['Iron Man', 'Captain America', 'Ant-Man', 'Black Panther', 'Captain Marvel']]}

df = pd.DataFrame(d)
df

     Team                                             Heroes
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-Man, Black Pan...