# Pandas 35 - Memadukan fungsi agregasi dengan transform()

# Import modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [2]:
d = {'no_nota':[1,1,1,2,2,3,4,5],
     'kopi':['latte', 'cappuccino', 'espresso', 'latte', 'espresso', 'cappuccino', 'latte', 'espresso'],
     'harga':[50,60,80,150,120,60,100,40]}

df = pd.DataFrame(d)
df

   no_nota        kopi  harga
0        1       latte     50
1        1  cappuccino     60
2        1    espresso     80
3        2       latte    150
4        2    espresso    120
5        3  cappuccino     60
6        4       latte    100
7        5    espresso     40