# Pandas 46 - Seleksi weekdays dan weekends pada data deret waktu (time series)

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [5]:
n_rows = 365
n_cols = 2
cols =['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns = cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

            col1  col2
2000-01-01     7    18
2000-01-02     9    10
2000-01-03    15    11
2000-01-04    13    18
2000-01-05     1    17
...          ...   ...
2000-12-26     5     2
2000-12-27     1    15
2000-12-28     8    19
2000-12-29     8     7
2000-12-30     3     9

[365 rows x 2 columns]