# Pandas 43 - Menangani whitespace pada Data Frame

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [6]:
data = {'nim' : ['10', '11', '12', '13', '  '],
        'nama' : ['adi', '  ', 'tejo', '  ', 'bejo']}

df = pd.DataFrame(data)
df

  nim  nama
0  10   adi
1  11
2  12  tejo
3  13
4      bejo