# Pandas 33 - Menampilkan nilai kumulatif (cummulative)

# Import modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [2]:
d = {'pemain' : ['Budi', 'Joni', 'Iwan', 'Budi', 'Budi', 'Iwan', 'Asep', 'Joni'],
     'goal':[2,1,3,1,1,2,2,3]}
df = pd.DataFrame(d)
df

  pemain  goal
0   Budi     2
1   Joni     1
2   Iwan     3
3   Budi     1
4   Budi     1
5   Iwan     2
6   Asep     2
7   Joni     3