In [1]:
# import pandas
import pandas as pd

print(pd.__version__)

1.1.3

In [3]:
# persiapan data frame
data = {'day' : [1,3,5,7,9],
        'month' : [12,10,8,6,4],
        'year' : [2020,2018,2016,2014,2012]}

df = pd.DataFrame(data)
df

   day  month  year
0    1     12  2020
1    3     10  2018
2    5      8  2016
3    7      6  2014
4    9      4  2012

In [4]:
# membentuk kolom bertipe datetime
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1     12  2020  2020-12-01
1    3     10  2018  2018-10-03
2    5      8  2016  2016-08-05
3    7      6  2014  2014-06-07
4    9      4  2012  2012-04-09

In [5]:
# melihat type data dari day, month, year, dan penanggalan
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object