# Pandas 26 - Membuat Data Frame dari hasiil seleksi Spreadsheet

# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

# Membuat Data Frame dari hasil seleksi Spreadsheet

In [2]:
df = pd.read_clipboard()

df

       NRP      Nama
0  2073009    Justin
1  2073005   Ronaldo
2  2073013  Meilinda
3  2073003   Christo