# Pandas 44 - Menata ulang penempatan kolom pada Data Frame

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  5  3  4  2  1
1  1  3  1  3  3
2  3  8  8  7  5
3  9  7  8  6  9
4  5  6  4  4  5

# Menata ulang penempatan kolom pada Data Frame

In [4]:
df[['D', 'C', 'A', 'E', 'B']]

   D  C  A  E  B
0  2  4  5  1  3
1  3  1  1  3  3
2  7  8  3  5  8
3  6  8  9  9  7
4  4  4  5  5  6

In [5]:
df

   A  B  C  D  E
0  5  3  4  2  1
1  1  3  1  3  3
2  3  8  8  7  5
3  9  7  8  6  9
4  5  6  4  4  5

In [6]:
df = df[['D', 'C', 'A', 'E', 'B']]
df

   D  C  A  E  B
0  2  4  5  1  3
1  3  1  1  3  3
2  7  8  3  5  8
3  6  8  9  9  7
4  4  4  5  5  6