In [1]:
# import module
import pandas as pd

print(pd.__version__)

1.1.3

In [2]:
# persiapan data frame
data = {'name' : ['Michael Jackson', 'Kurt Cobain', 'Lil Peep'],
        'place_of_birth' : ['Gary, Indiana', 'Aberdeen, Washington', 'Allenton, Pennsylvania']}
df = pd.DataFrame(data)
df

              name          place_of_birth
0  Michael Jackson           Gary, Indiana
1      Kurt Cobain    Aberdeen, Washington
2         Lil Peep  Allenton, Pennsylvania