In [1]:
# import pandas dan numpy
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [2]:
# persiapan data frame
data = {'A' : [66, 66, 69, 666, np.nan],
        'B' : [66, 66, 69, 666, np.nan]}
df = pd.DataFrame(data)
df

       A      B
0   66.0   66.0
1   66.0   66.0
2   69.0   69.0
3  666.0  666.0
4    NaN    NaN

In [3]:
# mengenal pandas series
df['A']

0     66.0
1     66.0
2     69.0
3    666.0
4      NaN
Name: A, dtype: float64

In [6]:
type(df['A'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# memeriksa kesamaan dengan operator == 
df['A'] == df['B']

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [9]:
# memeriksa kesamaan dengan method equals() (rekomen untuk membandingkan nilai diantara 2 buah kolom/series)
df['A'].equals(df['B'])

True

In [10]:
# memeriksa kesamaan antar dua data frame (recommended untuk membandingkan nilai antara dua data frame)
df1 = df.copy(deep=True)

df.equals(df1)

True

In [11]:
# memeriksa dua data frame dengan operator ==
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3   True   True
4  False  False