# Pandas 30 - Akses nilai variabel pada query()

# Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   1   5  17   1  12
1   5   9  15  17  10
2  19   2  17   8   8
3  13   5   9   6   2
4   6  17   1   7   4