# Pandas 51 - Seleksi baris dengan between()

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

# Persiapan Data Frame

In [4]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  9  5  5  5  7
1  8  6  2  2  8
2  4  4  8  5  3
3  3  4  9  7  3
4  8  5  6  7  9
5  8  8  2  5  2
6  7  4  1  3  6
7  6  5  2  7  4
8  9  7  8  1  3
9  8  7  2  5  9