# Pandas 52 - Transformasi kolom menjadi baris pada Data Frame

# Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

1.1.3

# Persiapan Data Frame

In [3]:
d = {
    'kode_area': [123, 456, 789, 321],
    'pabrik':[4, 2, 5, 0],
    'gudang':[2, 4, 7, 3],
    'toko':[64, 32, 15, 24]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang  toko
0        123       4       2    64
1        456       2       4    32
2        789       5       7    15
3        321       0       3    24