In [1]:
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [2]:
# membentuk data frame dari dictionary
pd.DataFrame({'col1' : [1, 2, 3, 4],
              'col2' : [5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
# membentuk data frame dari numpy array
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 5, 15, 18],
       [16, 11,  3],
       [ 4,  6, 15],
       [12, 15,  4],
       [ 6,  4, 17]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   5  15  18
1  16  11   3
2   4   6  15
3  12  15   4
4   6   4  17