In [3]:
# import pandas
import pandas as pd

print(pd.__version__)

1.1.3

In [4]:
# persiapan data frame
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  rcjc9avIh3  1.378598  1.218122  0.122666  2.083292
1  ivsvzf4MOh       NaN  0.571943  0.384146  0.567524
2  2mjZe7Z6x3 -0.260416  1.623785  0.256296 -1.303785
3  FtbLeIL77i -0.154003 -1.803648  1.154732 -0.206718
4  d1jqmMqYbH  0.891872  0.365870  0.488763  1.312076

In [5]:
# melakukan rename pada kolom index menjadi 'P'
df = df.rename(columns={'index' : 'P'})
df

             P         A         B         C         D
0   rcjc9avIh3  1.378598  1.218122  0.122666  2.083292
1   ivsvzf4MOh       NaN  0.571943  0.384146  0.567524
2   2mjZe7Z6x3 -0.260416  1.623785  0.256296 -1.303785
3   FtbLeIL77i -0.154003 -1.803648  1.154732 -0.206718
4   d1jqmMqYbH  0.891872  0.365870  0.488763  1.312076
5   M0L0SJaqIr -0.361400 -0.690871 -2.006516  0.205086
6   4q02KuL3bQ  0.062665 -0.887688  0.455428       NaN
7   9jIKVF17gR -0.231443 -0.643733  1.319774 -0.257868
8   Xa9XpfnVmG  0.993165 -0.655122 -0.503491 -0.512998
9   XLzToPE8A6 -0.321553 -0.582572  0.210228  0.288583
10  4vFWRU7Vit -0.014482       NaN  1.597106       NaN
11  yQxYb2oF5S -0.493386 -0.483518 -1.367943 -0.202409
12  hMVYbTB9uA       NaN -1.886546  0.509130  0.267036
13  8cmFDXlyjZ -1.096531 -0.735480  0.558099 -1.510201
14  gFfsQSKyFp  0.842848  0.694568 -0.156143 -2.038339
15  McDqHmpVRz  0.671024 -0.870907  0.797492 -1.695386
16  55N0ZXVkZg  0.905851       NaN -0.119998 -0.583784
17  GKbW31EP80  0.423381 -0.488488  0.670837       NaN
18  9ATol4a4Dr       NaN -1.401160 -0.008743       NaN
19  apu97w16sh       NaN       NaN -1.573679 -1.107190
20  3b8Gf6yttn -1.239929  0.367894 -0.180813 -1.300747
21  DaD0IvL3qP  0.520381 -0.836513       NaN  0.111995
22  EQDOLGxqi5 -0.149378  0.720780 -1.641598 -0.737941
23  4J8DKMMkzb  0.390488 -0.201613  0.366841 -1.457550
24  vRxftYfRTe -1.755408  0.944905 -0.811406 -0.020329
25  E315eSdovm  0.119049  0.822381 -2.552455  0.789560
26  smMx1ExQoQ  0.463636  0.233975  0.497689 -0.523151
27  qOf6ljShIQ  0.106008 -1.434112  0.911458  0.572896
28  lD62sTMaUe  1.227880  0.973451 -0.790656 -2.506854
29  UXmzSudDE8 -0.600809 -0.498195 -0.112527  0.818530

In [6]:
# melakukan copy pada data frame
df_backup = df.copy(deep=True)

In [7]:
# menghapus (drop) setiap kolom yang mengandung missing values
df = df.dropna(axis='columns')
df.head()

            P
0  rcjc9avIh3
1  ivsvzf4MOh
2  2mjZe7Z6x3
3  FtbLeIL77i
4  d1jqmMqYbH

In [8]:
# menghapus (drop) setiap baris yang mengandung missing values
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            P         A         B         C         D
0  rcjc9avIh3  1.378598  1.218122  0.122666  2.083292
2  2mjZe7Z6x3 -0.260416  1.623785  0.256296 -1.303785
3  FtbLeIL77i -0.154003 -1.803648  1.154732 -0.206718
4  d1jqmMqYbH  0.891872  0.365870  0.488763  1.312076
5  M0L0SJaqIr -0.361400 -0.690871 -2.006516  0.205086

In [9]:
# persentase missing values untuk tiap kolom
df = df_backup.copy(deep=True)
df.isna().mean()

P    0.000000
A    0.133333
B    0.100000
C    0.033333
D    0.133333
dtype: float64

In [10]:
# menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            P         B         C
0  rcjc9avIh3  1.218122  0.122666
1  ivsvzf4MOh  0.571943  0.384146
2  2mjZe7Z6x3  1.623785  0.256296
3  FtbLeIL77i -1.803648  1.154732
4  d1jqmMqYbH  0.365870  0.488763