In [1]:
# import pandas dan numpy
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [2]:
# persiapan data frame
data = {'A' : [66, 66, 69, 666, np.nan],
        'B' : [66, 66, 69, 666, np.nan]}
df = pd.DataFrame(data)
df

       A      B
0   66.0   66.0
1   66.0   66.0
2   69.0   69.0
3  666.0  666.0
4    NaN    NaN

In [3]:
# mengenal pandas series
df['A']

0     66.0
1     66.0
2     69.0
3    666.0
4      NaN
Name: A, dtype: float64

In [4]:
type(df['A'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame